h1 {
    text-align: center;
    border: 5px;
    border-style: solid;
    border-color: #FF0000;
    color: #FFFFFF;
    font: 70px arial; 
}

h2 {
    text-align: center;
    font: bold 35px sans-serif;
    color: #FFFFFF;
}

h3 {
    font: bold italic 30px courier new;
    color: #FFFFFF;
    margin-left: 1cm;
}

a {
    font: italic 30px times new roman;
    color: #ff0000;
}

body {
    background: #00FF00; 
}

p {
    font: bold 20px courier new;
    letter-spacing: 3px;
    margin-left: 3cm;
    margin-right: 3cm;
}

.extreme {
    font-family: "Comic Sans MS";
    color: #f0f0ff;
}

#head1 {
    text-align: center;
    font-size: 40px;
}

.navzone {
    border: solid 15px #ff0000;
    margin-right: 25cm;
}

#tehlulz {
    letter-spacing: 10px;
    text-decoration: overline;
}

.content {
    color: #ff00ff;
}
