h1 {
    text-align: center;
    font: bold 75px georgia;
    border-color: #ff0000;
    border: solid 5px;
    margin-left: 10cm;
    margin-right: 10cm;
}

h2 {
    text-align: center;
    font: bold 40px courier new; 
}

h3 {
    font: bold italic 25px times new roman;
    margin-left: 1cm; 
}

a {
    font: italic 20px arial;
    color: #0000ff;
    text-decoration: none;
}

body {
    background-image: url("maul.png"), url("space.png");;
    background-repeat: no-repeat;
    background-position: right top, center; 
    background-attachment: fixed;
    color: #ff0000;
}

p {
    text-align: justify; 
    font: bold 20px courier new; 
    word-spacing: 4px;
    letter-spacing: 2px;
    margin-left: 3cm;
    margin-right: 3cm;
}
